@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeui.ttf');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoeuib.ttf');
}
.font-segoe {
    -fx-font-family: 'Segoe UI';
}
.font-awesome, .fa {
 	-fx-font-family: 'FontAwesome';
}

.root, .menu-bar, .menu, .choice-box {
    -fx-background-color: derive(black, 0%);
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: derive(white, 0%);
}
.menu-item .label, .black-text {
    -fx-text-fill: derive(black, 0%);
}
.label {
    -fx-text-fill: derive(white, 0%);
    -fx-font-size: 11pt;
}
.button {
    -fx-text-fill: derive(white, 0%);
    -fx-font-size: 10pt;
    -fx-padding: 2px 15px;
}
.button:pressed {
    -fx-effect: innershadow(two-pass-box, #707070, 0, 0.9, 3, 3);
}
.btn, .ok-btn, .cancel-btn {
    -fx-pref-width: 100px;
    -fx-border-color: #ffffff;
    -fx-font-weight:bold;
}
.purple, .ok-btn {
    -fx-background-color: linear-gradient(to top,#9655c6 0,#661e9b 100%);
}
.purple:hover, .ok-btn:hover {
    -fx-background-color: linear-gradient(to top,#661e9b 100%,#9655c6 0);
}
.orange, .cancel-btn {
    -fx-background-color: linear-gradient(to top,#ff9a22 0,#f46e01 100%);
}
.orange:hover, .cancel-btn:hover {
    -fx-background-color: linear-gradient(to top,#f46e01 100%,#ff9a22 0);
}
.warning {
    -fx-text-fill: #ffff02;
}
.white-border {
    -fx-border-color: derive(white, 0%);
}
/* ----------------------------------- */
.left-btn {
    -fx-padding: 5 18 5 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(black, 0%);
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}
.left-btn:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(60, 3, 71, 0.93) 0% , rgba(127, 73, 166, 0.93) 35% , rgba(156, 103, 206, 0.93) 50% , rgba(127, 73, 166, 0.93) 65% , rgba(60, 3, 71, 0.93) 100% );
}
.left-btn:pressed {
    -fx-effect: innershadow(two-pass-box, #707070, 0, 0.9, 3, 3);
    -fx-text-fill: #000000;
}
.icon {
    -fx-text-fill: #ffffff;
    -fx-font-size:26pt;
}

.icon:pressed {
    -fx-effect: innershadow(two-pass-box, #707070, 0, 0.9, 3, 3);
}
#exid-id {
    -fx-text-fill: derive(red, 0%);
}
.black-bg {
    -fx-background-color: derive(black, 0%);
}
#o_icon {
    -fx-text-fill: derive(black, 0%);
    -fx-font-size:48pt;
 }
#o_title {
    -fx-font-size:24pt;
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI';
}
#a_lock {
    -fx-font-family: 'FontAwesome';
    -fx-font-size:54pt;
}
#fa-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 48pt;
}
#auth_warning {
    -fx-text-fill: derive(red, 0%);
    -fx-font-weight: bold;
}
