@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf');
}
.fa {
	-fx-font-family: "FontAwesome";
}
.main-menu, .left-sidebar, .black-bg {
    -fx-background-color: derive(black, 0%);
}
.main-menu {
    -fx-border-color: #ffffff;
}

.main-menu .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}
.btn {
    -fx-padding: 5 18 5 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(black, 0%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}
.btn:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(60, 3, 71, 0.93) 0% , rgba(127, 73, 166, 0.93) 35% , rgba(156, 103, 206, 0.93) 50% , rgba(127, 73, 166, 0.93) 65% , rgba(60, 3, 71, 0.93) 100% );
}
.btn:pressed {
	-fx-effect: innershadow(two-pass-box, #707070, 0, 0.9, 3, 3);
    -fx-text-fill: #000000;
}
.icon {
    -fx-text-fill: #ffffff;
    -fx-font-size:26pt;
}

.icon:pressed {
    -fx-effect: innershadow(two-pass-box, #707070, 0, 0.9, 3, 3);
}
#exid-id {
	-fx-text-fill: derive(red, 0%);
}
.warning {
    -fx-text-fill: #ffff02;
}
